<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<div class="container text-center">
    <form action="{ %url 'bmi_result'% }">
        <label for="user_height">inser your height:</label>
        <input type="number" name="user_height"><br>
        <label for="user_weight">inser your weight:</label>
        <input type="number" name="user_weight"><br>
        <input type="submit" value="check it" class="btn btn-primary">
    </form>
</div>